.page-content-section-hero-background {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), to(#000));
  background: linear-gradient(to bottom, transparent 0, #000 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ffffff; }
  .page-content-section-hero-background .container, .page-content-section-hero-background .container-fluid {
    top: auto; }
  @media (min-width: 960px) {
    .page-content-section-hero-background .container, .page-content-section-hero-background .container-fluid {
      margin-bottom: 2.25rem; } }
  @media (min-width: 768px) {
    .page-content-section-hero-background .container, .page-content-section-hero-background .container-fluid {
      margin-bottom: 1.5rem; } }
