.page-content-section-intro {
    font-family: 'diodrumRegularItalic', '-apple-system,system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.3636363636;
    margin: 0 0 1.5rem;
    @media (min-width: 960px) {
        padding: 2.25rem 0;
    }
    @media (min-width: 768px) {
        padding: 1.5rem 0;
    }
}
