<div data-sly-test="${wcmmode.edit}" class="cq-placeholder"
     data-emptytext="${'Navigation bar' @ i18n}"></div>

<sly data-sly-use.list="com.aem.demo.core.models.DemoList"></sly>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" data-sly-list.mainNav="${list.listItemsHeirarchal || list.listItems}">

      <li class="nav-item ${mainNav.childPageList ? 'dropdown' : ''}">

        <sly data-sly-test.url="${mainNav.childPageList ? '#' : mainNav.URL}"></sly>

        <a class="nav-link ${mainNav.childPageList ? 'dropdown-toggle' : ''}" href="${url}" id="navbarDropdownMenuLink${mainNavList.index}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">${mainNav.title}</a>
        <div data-sly-test="${mainNav.childPageList}" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink${mainNavList.index}">
          <a class="dropdown-item" data-sly-repeat="${mainNav.childPageList}" href="${item.URL}">${item.title}</a>
        </div>

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>