<div data-sly-test="${wcmmode.edit}" class="cq-placeholder"
     data-emptytext="${'Page Section' @ i18n}"></div>

<sly data-sly-use.template="templates.html"/>
<sly
    data-sly-test.paddingTop="${properties.verticalAlign == 'align-bottom' || properties.disablePaddingTop ? 'pt-0' : 'pt-4'}"/>
<sly data-sly-test.paddingBottom="${properties.disablePaddingBottom ? 'pb-0' : 'pb-4'}"/>
<sly data-sly-test.backgroundColor="${properties.bgType == 'color' ? properties.backgroundColor : ''}"/>
<sly data-sly-test.backgroundImage="${properties.bgType == 'image' ? properties['image/fileReference'] : ''}"/>
<sly data-sly-test.backgroundVideo="${properties.bgType == 'video' ? 'bg-video' : ''}"/>

<div class="${properties.ratio} ${backgroundColor} ${properties.verticalAlign}"
     style="background-image: url('${backgroundImage @ context='unsafe'}'); background-repeat: no-repeat;">
  <div
      class="${properties.width}  ${properties.textAlign} mb-0 ${paddingTop} ${paddingBottom} ${backgroundVideo}  ${properties.showGradient ? 'text-gradient' : ''}">
    <div class="d-table h-100 w-100" data-sly-unwrap="${!properties.verticalAlign}">
      <div class="d-table-cell ${properties.verticalAlign}"
           data-sly-unwrap="${!properties.verticalAlign}">
        <sly data-sly-resource="${ @path='par', resourceType='foundation/components/parsys'}"/>
      </div>
    </div>
  </div>
  <div class="${properties.showGradient ? 'show-gradient' : ''}"></div>
  <sly data-sly-test="${backgroundVideo}" data-sly-call="${template.video @ properties=properties}" />
</div>
