<template data-sly-template.video="${@ properties}">
    <div class="embed-responsive">
      <sly data-sly-test="${properties.backgroundVideoType =='youtube'}"
           data-sly-call="${youtube @ id=properties.id}"/>
      <sly data-sly-test="${properties.backgroundVideoType =='vimeo'}"
           data-sly-call="${vimeo @ id=properties.id}"/>
    </div>
  </sly>
</template>

<template data-sly-template.youtube="${@ id}">
  <iframe title="video" class="embed-responsive-item"
          src="https://www.youtube.com/embed/${id}?autoplay=${wcmmode.disabled ? 1 : 0}"
          allowfullscreen></iframe>
</template>

<template data-sly-template.vimeo="${@ id}">
  <iframe title="video" class="embed-responsive-item"
          src="https://player.vimeo.com/video/${id}?api=1&player_id=vimeo-player&background=1&loop=1&autoplay=${wcmmode.disabled ? 1 : 0}"
          allowfullscreen></iframe>
</template>