.page-content-section-black-background {
    background-color: #000000;
    color: #ffffff;

    .card {
        background-color: #000000;
        border-color: rgba(255, 255, 255, .5);
    }

    .card-header, .card-footer {
        background-color: #333333;
        color: #fff;
    }

}
