.page-content-section-black-background {
  background-color: #000000;
  color: #ffffff; }
  .page-content-section-black-background h2, .page-content-section-black-background h4 {
    color: #ffffff; }
  .page-content-section-black-background h2 {
    margin-bottom: 1em; }
  .page-content-section-black-background .card {
    border: 0;
    border-radius: 0;
    background: no-repeat center center;
    position: relative;
    background-size: cover;
    margin-bottom: 1em; }
    .page-content-section-black-background .card .card-header h1 {
      color: #000000; }

.page-content-section-black-background .btn-outline-primary, .pagesection-video-background .btn-outline-primary {
  border: 3px solid #ffffff;
  border-radius: 25px;
  color: #ffffff; }
  .page-content-section-black-background .btn-outline-primary:hover, .pagesection-video-background .btn-outline-primary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000; }
