.page-content-section-black-background {
    background-color: #000000;
    color: #ffffff;
    h2, h4 {
        color: #ffffff;
    }
    h2 {
        margin-bottom: 1em;
    }
    .card {
        border: 0;
        border-radius: 0;
        background: no-repeat center center;
        position: relative;
        background-size: cover;
        margin-bottom: 1em;
        .card-header h1 {
            color: #000000;
        }
    }
}

.page-content-section-black-background .btn-outline-primary, .pagesection-video-background .btn-outline-primary {
    border: 3px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    &:hover {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #000000;
    }
}
