@import '../../../../../../../../etc/designs/nlgeneric/external/css/bootstrap/mixins/breakpoints';
@import '../../../../../../../../etc/designs/nlgeneric/external/css/bootstrap/functions';
@import '../../../../../../../../etc/designs/nlgeneric/external/css/bootstrap/variables';

.page-header-section-black-background {
    @include media-breakpoint-down(sm) {
        .page-header-nav {
            display: none;
        }
    }

    background-color: black;

    .container, .container-fluid {
        background-color: black;
    }

    .nav-link {
        color: #ffffff;
    }

    .page-header-logo {
        float: left;
        margin-left: 10px;
    }

    .page-header-nav {
        font-family: 'diodrumSemiBold', sans-serif;
        text-transform: uppercase;
    }


}
