.page-header-section-black-background {
  background-color: black; }
  @media (max-width: 767px) {
    .page-header-section-black-background .page-header-nav {
      display: none; } }
  .page-header-section-black-background .container, .page-header-section-black-background .container-fluid {
    background-color: black; }
  .page-header-section-black-background .nav-link {
    color: #ffffff; }
  .page-header-section-black-background .page-header-logo {
    float: left;
    margin-left: 10px; }
  .page-header-section-black-background .page-header-nav {
    font-family: 'diodrumSemiBold', sans-serif;
    text-transform: uppercase; }
