.page-header-section-white-background {
    background-color: #ffffff;
    img {
        height: 45px;
    }
    .nav-item {
        line-height: 67px;
    }
    .nav-link {
        padding: 0 1em;
    }
}
