.page-header-section-white-background {
  background-color: #ffffff; }
  .page-header-section-white-background img {
    height: 45px; }
  .page-header-section-white-background .nav-item {
    line-height: 67px; }
  .page-header-section-white-background .nav-link {
    padding: 0 1em; }
